body {
	background-color: whitesmoke;
	color: #000;
	margin: 0 auto;
	padding: 0;
}
/*Nav*/
.navbar-default {
    background-color: silver;
    z-index: 1;
    opacity: 0.5;
    border: none;
    text-align: center;
}
.navbar-right {
	margin: 10px;
}
/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 15px;
    border: none;
    background-color: gray;
    text-align: center;
}*/
/*Sección 01*/
.principal {
	background-color: black;
	height: 100vh;
}
/*Sección 02*/
.segunda {
	background-color: whitesmoke;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*Sección 03*/
.tercera {
	background-color: #4A235A;
	height: auto;
	padding: 10px;
	font-size: 12px;
}
.cuarta {
	background-color: whitesmoke;
	height: 20vh 40vh;
}
/*texto introductor*/
.texto-principal {
	margin-top: 10vh;
	font-size: 5em;
	text-align: left;
	/*texto gradiente*/
	background: -webkit-linear-gradient(purple,gray);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: white;
}
.texto-link {
	color: purple !important;
}
.icono {
	color: white;
	margin-right: 10px;
}
.icono:hover {
	color: #333;
}
.skills {
	border: 1px dashed #999;
	padding: 25px;
}
.works {
	/*border: 1px solid white;*/
	margin: 10px auto;
	padding: auto;
}
.work-text {
	margin-top: 20px;
	color: gray;
}
/* efecto texto intro */