@media only screen and (min-width: 1281px) {
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
	.texto-principal {
	font-size: 4em;
	margin-top: 5vh;
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.texto-principal {
	font-size: 4em;
	margin-top: -5vh;
	}
}
@media only screen and (min-width: 1px) and (max-width: 480px) {
	.texto-principal {
	font-size: 3em;
	}
}

