body {
	background-color: $background-color-main;
	color: $background-color-second;
	margin: 0 auto;
	padding: 0;
}
/*Nav*/
.navbar-default {
    background-color: $background-color-third;
    z-index: 1;
    opacity: 0.5;
    border: none;
    text-align: center;
}
.navbar-right {
	margin: 10px;
}
/*Sección 01*/
.principal {
	background-image: url(../img/bg.jpg);
	/* Para dejar la imagen de fondo centrada, vertical y
	horizontalmente */
	background-position: center center;
	/* Para que la imagen de fondo no se repita */
	background-repeat: no-repeat;
	/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
	background-attachment: fixed;
	/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
	background-size: cover;
	/* Se muestra un color de fondo mientras se está cargando la imagen
	de fondo o si hay problemas para cargarla */
	background-color: $background-color-second;
	height: 100vh;
}
/*Sección 02*/
.segunda {
	background-color: $background-color-main;
	height: auto;
	padding: 75px;
	margin: 0 auto;
}
/*Sección 03*/
.tercera {
	background-color: $background-color-fourth;
	height: auto;
	padding: 75px;
	font-size: 12px;
	margin: 0 auto;
}
.cuarta {
	background-color: $background-color-main;
	height: 20vh 40vh;
}
/*texto introductor*/
.texto-principal {
	margin-top: 10vh;
	font-size: 5em;
	text-align: left;
	/*texto gradiente*/
	background: -webkit-linear-gradient($background-color-fourth,$background-color-third);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	//text-shadow: 2px 2px white;
  	color: $background-color-fifth;
}
.texto-link {
	color: $background-color-fourth !important;
}
.icono {
	color: $background-color-fifth;
	margin-right: 10px;
}
.icono:hover {
	color: $background-color-second;
}
.skills {
	border: 1px dashed $background-color-third;
	padding: 20px;
}
.skills a:hover{
	background-color: $background-color-third;
}
.mobile {
	padding: 0;
	margin: 0 auto;
}
.works {
	/*border: 1px solid white;*/
	margin: 20px auto;
	padding: auto;
}
.work-text {
	margin-top: 20px;
	color: $background-color-third;
}
.special {
	font-family: 'Dancing Script', cursive;
	color: $background-color-third;
	font-size: 24px;
}
/* efecto texto intro */
/* media */
@media only screen and (min-width: 1281px) {
	.texto-principal {
	font-size: 4em;
	margin-top: 5vh;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
	.texto-principal {
	font-size: 4em;
	margin-top: 5vh;
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.texto-principal {
	font-size: 3.5em;
	margin-top: 1vh;
	}
}
@media only screen and (min-width: 1px) and (max-width: 480px) {
	.texto-principal {
	font-size: 3em;
	margin-top: 2vh;
	}
}
